<div class="row">
    <div>
        <label for="password">Check your password strenght</label>
        <p></p>
        <input type="password" (input)="onPasswordChange($event)" [(ngModel)]="password" placeholder="Enter password" minlength="8">
    </div>
</div>

<div class="strength-indicator" style="width: 180px;">
    <div class="strength-section" [ngClass]="{'gray': password === '' || password.length >= 0, 'red': password.length > 0 && password.length < 8 || password.length >= 8 ,  'yellow': isMediumPassword() && password.length > 7, 'green': isStrongPassword() && password.length >= 8 }"></div>
    <div class="strength-section" [ngClass]="{'gray': password === '' || password.length >= 0, 'red': password.length > 0 && password.length < 8, 'yellow': isMediumPassword() && password.length >= 8, 'green': isStrongPassword() && password.length >= 8 }"></div>
    <div class="strength-section" [ngClass]="{'gray': password === '' || password.length >= 0, 'red': password.length > 0 && password.length < 8, 'green': isStrongPassword() && password.length >= 8 }"></div>
    
</div>
